
@import 'core/variables';
@import 'layout/footer';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/home';
@import 'components/typograpy';
@import 'pages/contact';

/*codigo Sofi*/
.tituloquien{
  color: #099D8D;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  margin: 0 auto;
}
.sofi{
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.memuero{
  display: grid;
  grid-template-columns: 1fr  278px;
  grid-template-rows: 278px;
  grid-template-areas: "sigomuriendo" "mori";
  grid-gap: 45px 60px;
  margin-bottom: 60px;
  margin-top: 45px;
}
.sigomuriendo{
  width: 439px;
  text-align: right;
}
.mori{
  box-sizing: border-box;
  border-style: solid;
  border-color: #B8B8B9;
  border-radius: 15px;
  border-width: 3px;
  width: 278px;
  height: 278px;
}
.titlename {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line: 45px;
}
.textwho {
  color: #54585A;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line: 24px;
}
.odiorehacercodigo{
  display: grid;
  grid-template-columns: 278px 1fr;
  grid-template-rows: 278px;
  grid-template-areas: "aunquenrealidad" "mevienebien";
  grid-gap: 45px 60px;
  margin-bottom: 60px;
  margin-top: 45px;
}
.aunquenrealidad{
  box-sizing: border-box;
  border-style: solid;
  border-color: #B8B8B9;
  border-radius: 15px;
  border-width: 3px;
  width: 278px;
  height: 278px;
}
.mevienebien{
  width: 439px;
  text-align: left;
}
.sigomuriendo ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.mori{
  width: 278px;
  height: 278px;
}
.mevienebien ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sigomuriendo li {
  display: inline;
}
.mevienebien li {
  display: inline;
}
.sigomuriendo li + li::before {
  content: "·";
  margin: 0 5px;
}
.mevienebien li + li::before {
  content: "·";
  margin: 0 5px;
}
.fab {
  color: #14aabf;
}
.fas {
  color: #14aabf;
}

/*codigo Sofi*/
