
html {
margin: 0px;
}
body {
margin: 0px;
}


.contenedor-menu {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
  width: 100%;
  background-color: #14d9c4;
  padding: 0px;
  margin: 0px;
}
.item-titulo {
  flex: 0 1 100%;
  text-align: center;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 60px;
  background-color: #1b9688;
  margin: 0px;
}
.contenedor-lista {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0;
}
header nav {
  width: 100%;
}
.item-cuadro {
  height: 45px;
  line-height: 45px;
  padding-right: 15px;
  padding-left: 15px;
}
.contenedor-menu a {
  text-decoration: none;
  color: white;
}
.contenedor-slogan {
  background-image: url("poster.jpg");
  height: 297px;
  display: flex;
  background-size:cover;
  width: 100%;

}
.item-slogan {
  flex: 0 1 100%;
  background-color: rgba(255,255,255,0.8);
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  top: 250px;
  font-family: 'Open sans', sans-serif;
  padding-left: 15px;
  height: 71px;
}




@media only screen and (min-width: 992px) {
  .contenedor-menu {
    background-color: #1b9688;
  }
  .item-titulo {
    flex: 0 1 50%;
    text-align: left;
    margin-left: 45px;
  }
  header nav {
    width: auto;
    margin-right: 45px;

  }

  .item-cuadro {
    height: 60px;
    line-height: 60px;
  }
  .item-slogan {
    flex: 0 1 30%;
    text-align: center;
    top: 350px;
  }
  .contenedor-slogan {
    height: 421px;
  }
}

/*codigo marta*/

.cuerpo--ppal {
  text-align: center;
  margin: 0;
}

.cuerpo--equipo {
  padding-bottom: 30px;
}

.cuerpo--fortdeb {
  background-color: #f1f1f1;
  padding-bottom: 45px;
  margin-left: 0px;
  margin-right: 0px;
}

.cuerpo--item {
}

.titulo--fortdeb {
  color: #099D8D;
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  padding-top: 30px;
}

.titulo--equipo {
  color: #099D8D;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 15px;
}

.texto--main {
  color: #54585A;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 16px;
  padding-left: 20px;
  padding-right: 20px;
}
.texto--main:last-child {
margin-bottom: 0;
}

.triangulo {
  margin: auto;
  height: 0px;
  width: 0px;
  padding: 0px;
  background-color: #F1F1F1;
  border-radius: 0px;
  top: -200px;
  transform: rotate(0deg) skew(0deg);
  -webkit-transform: rotate(0deg) skew(0deg);
  border-top: 20px solid #FFFFFF;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 0px transparent;
}
/*codigo marta*/

/*codigo Sofi*/
.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex.leftext {
  margin-left: 90px;
  margin-bottom: 60px;
  margin-top: 60px;
  align-items: center;
}
.flex.rightext {
  margin-right: 90px;
  margin-bottom: 60px;
  margin-top: 60px;
  align-items: center;
}
.titlewho {
  color: #099D8D;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  line: 45px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.titlename {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line: 45px;
}
.textwho {
  color: #54585A;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line: 24px;
  margin-bottom: 45px;
}
.profilephoto {
  box-sizing: border-box;
  border-style: solid;
  margin-left: 45px;
  margin-right: 45px;
  border-color: #B8B8B9;
  border-radius: 15px;
  border-width: 3px;
}
.imagen1 {
  float:left;
  margin-right;
}
.imagen2 {
   float:right;
   margin-left;
}
.box  {
  margin-top: 45px;column
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 60px;
}
.textmargin1 {
  margin-bottom: 15px;
  margin-left: 90px;
  margin-right: 45px;
  text-align: right;
}
.textmargin1 .titlename {

}

.textmargin2 {
  margin-bottom: 15px;
  margin-left: 45px;
  margin-right: 90px;
  text-align: left;
}
.colorppal {
  filter: hue-rotate(9deg);
  filter: saturate(157%);
  filter: brightness(141%);
}
.box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.box li {
  display: inline;
}
.box li + li::before {
  content: "·";
  margin: 0 5px;
}
.fab {
  color: #14aabf
}
.fas {
  color: #14aabf
}
.organize {
  text-align: left;
}
.iconsright {
  text-align: right;
}
@media all and (max-width:736px) {
    .box {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 45px;
      }
    ul {query
      margin-bottom: 45px;
      margin-top: 15px;
      justify-content: center;
      text-align: center;
    }
    .profilephoto {
      box-sizing: border-box;
      border-style: solid;
      margin-top: 30px;
      margin-bottom: 15px;
      height: 180px;
      width: 180px;
      border-color: #B8B8B9;
      border-radius: 15px;
      border-width: 3px;
      justify-content: center;
      align-content: center;
    }
    .textmargin1 {
      justify-content: center;
      text-align: center;
      margin-top: 15px;
      margin-top: 15px;margin-left: 0px;
  margin-right: 0px;
      margin-left: 15px;
      margin-right: 15px;
    }
    .textmargin2 {
      justify-content: center;
      text-align: center;
      margin-top: 15px;
      margin-top: 15px;
      margin-left: 15px;
      margin-right: 15px;
    }
    .flex.leftext {
      margin-top: 15px;
      margin-top: 15px;
      margin-left: 15px;
      margin-right: 15px;
    }
    .flex.rightext {
      margin-top: 15px;
      margin-top: 15px;
      margin-left: 15px;
      margin-right: 15px;
    }
    }
/*codigo Sofi*/

/*codigo Alba*/

footer {
  background: white;
  border-top: 1px solid lightgrey;
  justify-content: center;
  margin-top: 45px;
  text-align: center;
}
.item1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line: 20px;
  color: #B8B8B9;
  margin-top: 30px;
  margin-bottom: 20px;
}
.item2 {
  font-family: 'Open Sans', sans-serif;
  color: #54585A;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line: 30px;
}
.lista{
  margin: 0;
  padding: 0;
  list-style: none;
}
.enlaces {
  text-decoration: none;
  text-transform: uppercase;
  color: #54585A;
}
aside {
  margin-top: 30px;
  margin-bottom: 45px;
}
@media only screen and (min-width: 768px) {

footer {

  border-top: 1px solid lightgrey;
  margin-top: 45px;
  padding-right: 45px;
  padding-left: 45px;
}
.supercaja {
position: relative;
}

.item1 {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: left;
}
.item2 {
  line-height: 30px;
  margin-top: 0;
  position: absolute;
  top:0;
  right: 0;
}
aside {
  margin-top: 15px;
  margin-bottom: 60px;
  text-align: left;
}
}
/*codigo Alba*/

/*codigo contacto*/

.i-cabecera{
  height: 300px;
  width: 100%;
  background-image: url("imagencontact.jpg");
  background-size: cover;
}
.imagen {
  background-image:
  height: 300px;
  margin-left: 0;
  margin-right: 0;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.contact-tittle {
  align-content: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: 'Rubik', sans-serif;
  color: #099D8D;
  font-size: 24px;
}
.texto {
  align-content: center;
  font-family: 'Open Sans', sans-serif;
  color: #54585A;
  font-size: 16px;
  line: 24px;
}
.contact-box {
display: block;
justify-content: center;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
color: #54585A;
line: 24px;
width: 100%;
}

/*codigo contacto*/

/*codigo formulario*/
 .formulario {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #54585A;
  margin: 0px;
}

.formulario input {
font-size: 16px;
width: 100%;
margin-top: 5px;
margin-bottom: 15px;
box-sizing: border-box;

}
.q {
margin-left: 15px;
margin-right: 15px;
text-align: left;
}
.an {
text-align: left;
}
.formulario textarea {
  font-size: 16px;
width: 100%;
box-sizing: border-box;
margin-top: 5px;
margin-bottom: 30px;
}

.pepe {
background: #099D8D;
color: #ffffff;
text-transform: uppercase;
height: 45px;
padding: 0px;
}




/*codigo formulario*/
