/*colores*/
$verdeoscuro: #099d8d;
$verdeclaro: #14d9c4;
$blanco: #ffffff;
$negro: #000000;
$grisoscuro: #54585a;
$grisclaro: #b8b8b9;
$grisfondo: #f1f1f1;

/*codigo marta*/
$colorfondosloganmovil: $blanco;
$colortitulolheader: $verdeoscuro;
$colornavegadorheader: $verdeclaro;
$colortitulos: $verdeoscuro;
$colortextonavegador: $blanco;
$colorparrafos: $grisoscuro;
$coloriconos: $verdeoscuro;
$colornombresequipo: $negro;
